<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>Data Process</title>
</head>
<body>

<div>
    <h1>{{ msg }}</h1>
    <form name="form" action="/extractEntities" method="POST">
        <label for="submit">Click process data to get wordcloud</label>
        <button id="submit" type="submit" name="submit">Process Data</button>
    </form>

</div>
</body>
</html>