<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>Word Cloud</title>
</head>
<body>
<div>
    <form name="form" action="/" method="GET">
        <label for="goback">Click button to go back to homepage</label>
        <button type="submit" id="goback"> Go to Home page</button>
    </form>
    <br/>
    <label for="wordcloud">WordCloud from uploaded files</label>
    <br/>
    <img id="wordcloud" src="{{ URL }}" alt="WordCloud image">
</div>
</body>
</html>